.water-sequence {
  position: relative;
  width: 100vw;
  min-height: 120vh;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
  padding-top: clamp(7.5rem, 8vw, 18.5rem);

  &__image {
    display: block;
    width: 100vw;
    height: auto;
    user-select: none;
    pointer-events: none;
  }
}
