@use "../abstracts/mixins" as *;

.water-sequence {
  position: relative;
  width: 100vw;
  min-height: 120vh;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
  @include section-padding-y;

  &__image {
    display: block;
    width: 100vw;
    height: auto;
    user-select: none;
    pointer-events: none;
  }
}
